.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px 0px 30px 0px;
}

.form input {
  margin: 0px 20px 0px 0px;
}

.form button {
  background: #061930;
  border-radius: 4px;
  border: none;
  color: #eee;
  cursor: pointer;
  font-weight: 700;
  padding: 8px;
  width: 80px;
}

.btn-submit:hover {
  background: #0b2b53;
}

.form button:disabled {
  color: rgba(255, 255, 255, 0.7);
  cursor: inherit;
}
